{namespace v=Tx_Vhs_ViewHelpers}
<div class="container-main">
	<div class="masthead">
		<v:page.menu entryLevel="0" useShortcutData="TRUE">
			<f:render partial="Navigation/Horizontal" arguments="{menu: menu}" />
		</v:page.menu>

		<v:page.languageMenu hideNotTranslated="1" order="0,2,3" class="inline"
		defaultLanguageLabel="DE" defaultIsoFlag="de">
			<div class="lang">
				<f:for each="{languageMenu}" as="language">
					<a href="{language.url}" class="{f:if(condition: language.current, then: 'active'}">
						{language.label}
					</a>
				</f:for>
			</div>
		</v:page.languageMenu>

		<h3 class="muted">
			Project name
		</h3>
	</div>
	<hr>
	<f:render section="Content" />
	<hr>
	<div class="footer">
		<p>
			&copy; Company 2013
		</p>
	</div>
</div>